*{
   margin: 0;
   padding: 0;
   color:rgb(99, 99, 99);
}
.err{
   list-style: none;
   color:red
}
.container{
   width:800px;
   height:auto;
   margin: 40px auto;
}
.top{
   font-size: 30px;
}
h2{
   font-size: 25px;
}
h3{
   font-size: 15px;
}
label{
   display:block;
}
.attention{
   float: right;
   overflow: auto;
}
.category,.box1{
   float: left;
   margin-top: 15px;
   margin-left: 40px;
   overflow: hidden;
}
.category_sel,.range_sel{
   width:150px;
   height:30px;
}
.dummy{
   clear: both;
}
.box2{
   width:400px;
   margin: 30px auto;
}
.select{
   width:400px;
   margin: 30px auto;
}
.text1,.text2{
   height: 30px;
   width:400px;
   font-size: 20px;
   text-align: center;
   display: block;
}
.batu{
   font-size: 30px;
   margin-left: 195px;
}
.input{
   margin-left:40px;
   margin-top: 20px;
}
#random_word{
   margin-top: 10px;
   margin-left: 185px;
}
.random_img{
   width:30px;
   height:auto;
}
.inline{
   display: inline;
}
.box4,.box3{
   width:400px;
   margin: 40px auto;
}
.radio{
   margin-top: 10px;
   margin-left: 10px;
}
.radio_sel{
   margin: 5px;
   margin-left: 40px;
}
#show{
   display: none;
   margin-left: 40px;
}
.submit{
   width:400px;
   margin:0 auto;
}
.sub_btn{
}
.memo{
   margin-left: 40px;
}
.memo_con{
   resize: none;
}
.delete{
   font-size: 14px;
   color:red;
   margin-left:30%;
   margin-right: 10%;
}
.delete:hover{
   transition: 0.7s;
   color: black;
   text-decoration:
}
