*{
   margin: 0;
   padding: 0;
   color:rgb(99, 99, 99);
   font-size: 105%;
}
.err{
   list-style: none;
   color:red
}
.container{
   width:90%;
   height:auto;
   margin: 5% auto ;
}
.top{
   font-size: 300%;
}
h2{
   font-size: 200%;
}
h3{
   font-size: 150%;
}
label{
   display:block;
}
.attention{
   float: right;
   overflow: auto;
}
.select{
   width:100%;
   margin: 5% auto;
}
.category,.box1{
   width:45%;
   float: left;
   margin-top: 3%;
   margin-left: 4%;
   overflow: hidden;
}
.category_sel,.range_sel{
   width:100%;
}
.dummy{
   clear: both;
}
.box2{
   width:100%;
   margin: 10% auto;
}
.text1,.text2{
   height: 20%;
   width:100%;
   font-size: 20px;
   text-align: center;
   display: block;
   border: 1px solid rgb(155, 158, 158);
}
.batu{
   font-size: 100%;
   margin-left: 50%;
}
.input{
   margin-left:40px;
   margin-top: 20px;
}
#random_word{
   width:20%;
   height:auto;
   margin-top: 5%;
   margin-left: 40%;
}
.random_img{
   width:50%;
   height:auto;
}
.inline{
   display: inline;
}
.box4,.box3{
   width:100%;
   margin: 10% auto;
}
.radio{
   margin-top: 10px;
   margin-left: 10px;
}
.radio_sel{
   margin: 2%;
   margin-left: 5%;
}
#show{
   display: none;
   margin-left: 5%;
}
.submit{
   width:100%;
   margin:0 auto;
}
.memo{
   margin-left: 10%;
}
.memo_text{
   resize: none;
   width: 100%;
}
.memo_range{
   width:50%;
}
.memo_con{
   resize: none;
}
.delete{
   font-size: 14px;
   color:red;
   margin-left:30%;
   margin-right: 10%;
}
.delete:hover{
   transition: 0.7s;
   color: black;
   text-decoration:
}
